* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5D4037;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}

/* START of Styling the cards */

.main__container{
    background-color:#795548;
    margin: auto;
    padding: 2%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__container{
    background-color: #D7CCC8;
    width:30%;
    box-shadow: 2px 2px 5px #636e72;
    
}


.header__box{
    background-color: #009688;
    text-align: center;
    padding:3%;
    margin:0;
    color:#fff;
}
.header__box h1{
    font-size:1.3em;
    font-weight: 700;
}

.photo__box{
    padding:2%;
    border-bottom: 1px solid gray;
    position: relative;
}

.unava{
    position:absolute;
    top:50px;
    left: 0;
}

.photo__box img{
    max-width:100%;
    padding:10%;
}

.description__box{
    padding:3%;
    font-size: 0.9em;
}

.availability__box{
    background-color: #00b894;
    padding:3%;
    color:#fff;
    text-align: center;
}

.spec__box{
    border-bottom: 1px solid gray;
    padding: 3% 6%;
}

.valid{
    text-align: center;
    padding:3%;
    border-bottom: 1px solid gray;

}

.footer__box{
    padding: 3% 6%;
}

/* END of Styling the cards */


/* Responsive */

@media  (max-width: 725px) {
    .main__container{
        flex-direction: column;
        }

        .card__container{
            width: 100%;
        }

    }

    @media  (max-width: 370px) {
            .card__container{
                flex-basis: 20%;
                min-width: 100px;
            }
        }
    
